/* Estilos globales */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: rgba(50, 50, 50, 0.7);
  backdrop-filter: blur(10px);
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1500;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(200, 200, 200, 0.3);
  transition: all 0.3s ease-in-out;
}

.navbar:hover {
  background-color: rgba(45, 45, 45, 0.8);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo {
  color: #e0e0e0;
  font-size: 24px;
}

.search-container,
.navbar-links {
  display: flex;
  align-items: center;
  position: relative;
}

.search-container input,
.navbar-links button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
  flex-grow: 1;
}

.search-container button,
.navbar-links button,
.categories-button {
  padding: 10px;
  margin-left: 10px;
  background-color: #e0e0e0;
  color: #333;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Animación suave */
}

.search-container button:hover,
.navbar-links button:hover,
.categories-button:hover {
  background-color: #c0c0c0;
  color: white;
}

/* Estilos para la lista de sugerencias y el menú desplegable de categorías */
.suggestions-list,
.categories-dropdown {
  display: none;
  position: absolute;
  top: calc(100%);
  left: 51;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto;
  max-height: 196px;
  animation: slideDown 0.5s ease forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Muestra las sugerencias y el menú desplegable al interactuar */
.search-container input:focus + .suggestions-list,
.suggestions-list:hover,
.navbar-links:hover .categories-dropdown,
.categories-dropdown:hover {
  display: block;
}

.suggestions-list div,
.categories-dropdown div {
  padding: 7px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.suggestions-list div:hover,
.categories-dropdown div:hover {
  background-color: #f8f8f8;
}

/* Estilos para el contenido principal debajo de la barra de navegación */
.main-content {
  margin-top: 58px;
}

.categories-button::after {
  content: '▼';
  margin-left: 5px;
}
