.creador-card {
  display: flex;
  width: 100%;
  padding: 15px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  list-style: none;
  background-color: #fff;
  position: relative;
}

.creador-content {
  display: flex;
  width: 30%;
}

.creador-info,
.creador-stats {
  width: 100%;
}

.creador-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.avatar-image {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.social-icon {
  margin-right: 5px;
  font-size: 18px;
  color: #333;
}

.creador-stats {
  margin-top: 23px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 10px;
}

.stat-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bio-visible {
  display: block;
  margin-top: 10px;
}

.paginacion-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paginacion-button,
.paginacion-button a {
  background-color: #00aff0 !important;
  color: white !important;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  text-decoration: none !important;
}

.paginacion-button:hover,
.paginacion-button a:hover {
  background-color: #008cc0 !important;
}

.subscription-button {
  cursor: pointer;
  background: #00aff0 !important;
  color: #fff;
  width: 120px;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 10px;
}

.subscription-button:hover {
  background-color: #45a049;
}

.creador-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.bio-image {
  height: 191px;
    width: 416px;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
  margin-top: 10px;
}

.creadores-list {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.of-text {
  margin: 0 5px;
  color: darkblue;
}

.verificado-container {
  display: flex;
  align-items: center;
}

.verificado-mark {
  color: green;
}

.verificado-x {
  color: red;
}

.creador-stats .redes-sociales,
.creador-stats .likes,
.creador-stats .pais,
.creador-stats .videos,
.creador-stats .fotos,
.creador-stats .suscripciones,
.creador-stats .streams {
  padding-right: 6px;
}

@media (max-width: 1332px) {
  .creador-content {
    width: 100%;
  }

  .creador-info {
    align-items: center;
  }

  .avatar-image {
    margin-bottom: 0;
  }
}
